spring:
  application:
    name: config-server
  profiles:
    active: native
  cloud:
    config:
      fail-fast: true
      server:
        native:
          searchLocations:
            - classpath:config/telemetry/{application}/
server:
  port: 8888